#!/bin/bash

#cat <<EOF | debconf-set-selections
#mysql-server-5.7 mysql-server/root_password password {{ mysql_rootpw }}
#mysql-server-5.7 mysql-server/root_password_again password {{ mysql_rootpw }}
#EOF

#dpkg-reconfigure -f noninteractive mysql-server

cat <<EOF|mysql_secure_installation
N
N
{{ mysql_remove_anonymous_users }}
{{ mysql_disallow_root_login_remotely }}
{{ mysql_remove_test_database }}
Y
EOF

cat <<EOF >> /etc/mysql/mysql.conf.d/mysqld.cnf
# Character Set Server
character-set-server = utf8
# TIMESTAMP
explicit_defaults_for_timestamp = 1
# password life time in days (0 never expair)
default_password_lifetime = 0
# ssl
ssl = {{ mysql_enable_ssl }}
EOF


sed -i 's/^bind-address.*$/bind-address = {{ mysql_bind_address }}/' /etc/mysql/mysql.conf.d/mysqld.cnf

# Генерация кодировок
mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql mysql


